.biopic {
	width: 100%;
	height: 300px;
	font-weight: 300;


}

.head {
	font-size: 2.3em;
	font-family: 'Montserrat', sans-serif;
	letter-spacing:.1em;
	font-weight: 300;
	color: #000;




}


.subhead {
	font-size: 1.3em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;


}

.userbio {
	margin-top: 35px;
	width: 100%;
	font-size: 1.2em;
	font-weight: 300;
}

.activity {
	font-size: 1.8em;
	font-weight: 300;

}



.col-md-12{


}

.userbtn {
	margin-top: 15px;



}
