.biopic {
	width: 100%;
	height: 300px;
	font-weight: 300;


}

.userhead {
	font-size: 2.3em;
	font-family: 'Montserrat', sans-serif;
	letter-spacing:.1em;
	font-weight: 300;
	color: #000;
	text-align: left;


}

.userpictures {
	height: 90%;
}


.usersubhead {
	font-size: 1.3em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-align: left;


}

.userbio {
	margin-top: 35px;
	width: 100%;
	font-size: 1.2em;
	font-weight: 300;
	text-align: left;
}

.useractivity {
	font-size: 1.8em;
	font-weight: 300;
	text-align: left;


}


.userprofilecont {
	text-align: center;
	margin-top: 7rem;
}

.userbtn {
	margin-top: 15px;
	float: left;



}
