form.search {
  overflow: auto;
  margin-bottom: 10px;
  
}

form.search button[type="submit"] {
}


.form-control {
    background: #fff;
    border: 1px solid #eeeeee;
    color: #848484;
    font-size: 1em;
    margin-right: .5rem;
    font-family: 'Roboto', sans-serif;

}


#activity-input, #status-input{
    background: #fff;
    border: 1px solid #eeeeee;
    color: #848484;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    height: 3.95rem;
    width: 20rem;
    margin-right: 3.0rem;
  
}

.form-control:focus{
    border-bottom: 3px solid #000;

}

#activity-input:link {

}


.btn {
    background-color: #FEB273;
    margin-top: 0rem;
    border: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

.btn:hover {
    background-color: #EBA56C;
}


/*#status-input:hover {
    background-color: #000000;
    color: white;
}

#status-input:active {
    background-color: #000000; 
    color: white;
}*/