.footer {
  min-height: 100px;
  background: #feb273;
  position: relative;
  text-align: center;
}

.footer span {
  font-size: 90%;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  padding: 3px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
