.footer {
  min-height: 100px;
  background: #EEEEEE;
  position: relative;
  text-align: center;
}

.footer span {
  font-size: 70%;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  padding: 3px;
  font-family: 'Roboto', sans-serif;
}
