.btn {
	margin-left: 0rem;
    font-family: 'Montserrat', sans-serif;
}

#changeinfo {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


#pactivity-input {
    background: #fff;
    border: 1px solid #eeeeee;
    color: #848484;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    height: 3.95rem;
    width: 34rem;
    margin-right: 3.0rem;
	margin-right: 0rem;
	margin-top: 5rem;
}

.input-group {
    margin-top: 5rem;
}

#activitybtn {
    margin-top: 5rem;
}

.myprofilecontainer {
    text-align: center;
}

.well {
    border: none;
    background-color: white;
    text-align: left;
}

.biogroup {
    margin-top: 4.4rem;
    text-align: left;
}

.img-responsive {
    height: 100%;
    width: 100%;
}

.zipinput {
    margin-top: 2.34rem;
    text-align: left;
}

.myprofilebtn {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 10%
}



