.btn {
	margin-left: 0rem;
}

#changeinfo {
    padding-top: 4%;
    padding-bottom: 5%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


#pactivity-input {
    background: #fff;
    border: 1px solid #eeeeee;
    color: #848484;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    height: 3.95rem;
    width: 20rem;
    margin-right: 3.0rem;
	margin-right: 0rem;
	margin-top: 2.6rem;
}

.input-group {
	margin-top: 2.6rem;
}

#activitybtn {
	margin-top: 2.6rem;
}

